__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

.venv/
venv/
env/

.pytest_cache/
.coverage
htmlcov/

.DS_Store
.vscode/
.idea/

analyse.ipynb
test0212.ipynb

data_utils.py
metrics.py
trainer.py

results/

examples/*
!examples/Example_1_boston_housing.ipynb
!examples/Example_2_breast_cancer.ipynb
!examples/boston_housing_model_structure.txt
!examples/breast_cancer_model_structure.txt